body,h1,h2,h3,h4,h5,h6 
{
    font-family: "Raleway", sans-serif;
}
body, html 
{
  height: 100%;
  background-color: #efefef;
  color: #235677;
}
header{ 
    text-align: center;
    font-size: 2em ;
    line-height: 2;
}
.btn-info{
    background-color: #235677 !important;
    color: #ffffff !important;
    font-weight:750;
    letter-spacing:1px ;
    border: 2px solid #235677 !important;
    border-radius: 8px;
    transition: all 0.3s;
}

.btn-info:hover{
    background-color: #efefef !important;
    color: #235677 !important;
}
table{
    text-align: center;
    margin-top: 2%;
    font-size: 1.2em;
}
th{
    background-image: linear-gradient(#537391, #67859e);
   
}
td{
    background-image: linear-gradient(#efefef, #efefef);
}
table, td, th {
    border: 2px solid black;
}
